body {
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 680px;
    margin: 0 auto;
}

p {
    line-height: 1.313em;
}

ol.recent,
ol.recent ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recent li.day {
    margin-bottom: 20px;
}

.recent li.day h2 {
    font-weight: bold;
    font-size: 1.25em;
    margin: 0;
}

.allPages li,
.recent li.change {
    margin: 5px 0;
}

form {
    margin-top: 2em;
}

textarea,
input.title {
    width: 100%;
    margin: 0 0 0.5em;
    padding: 4px;
}

input.title {
    font-weight: bold;
    font-size: 1.25em;
}

.humanCheck {
    margin: 10px 0;
}

/** Page text **/
.pageText h2 {
    font-size: 1.375em;
    margin: 1em 0 0;
}

.pageText p {
    margin: 0.25em 0 0.875em;
}

.pageText li {
    margin-bottom: 0.375em;
    line-height: 1.313em;
}

.pageText pre {
    font-size: 0.813em;
    background-color: #EEEEFF;
    border-color: #BBCCFF;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    padding: 0.5em;
}

.pageText hr {
    margin: 2em 0;
}

.navigation {
    float: right;
    margin-top: 35px;
    width: 150px;
}