<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>wiki-ng<% page.name | prefix " - " %></title>
<link rel="stylesheet" href="/static/style.css" />
<link rel="stylesheet" href="/static/sh_hns.min.css" />
<script type="text/javascript" src="/static/sh_main.min.js"></script>
<script type="text/javascript" src="/static/sh_javascript.min.js"></script>
<% render 'head' %>
</head>

<body onload="sh_highlightDocument();">

<% title | wrap <h1> </h1> %>

<% render content %>
</body>
</html>

<% subskin 'content' %>
Overwrite this subskin to add content.
