<!DOCTYPE html >
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    {% block head %}
        <title>{{page.name}} - Wiki</title>
    {% endblock %}
    <link rel="stylesheet" href="{{baseUrl}}static/normalize.css" />
    <link rel="stylesheet" href="{{baseUrl}}static/style.css" />
    <link rel="stylesheet" href="{{baseUrl}}static/sh_hns.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{baseUrl}}static/sh_main.min.js"></script>
    <script src="{{baseUrl}}static/sh_javascript.min.js"></script>
    <script src="{{baseUrl}}static/main.js"></script>

    {% block headextend %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="navigation">
            {% block navigation %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
