{{#page}}
<form method="POST" action="{{editUrl name}}">

<input class="title" name="name" value="{{name}}" />

<textarea id="body" name="body" rows="30" >{{body}}</textarea>

<div class="humanCheck">Are you human? (yes/no) <input id="hm" name="hm" size="4" value="" required></div>

<div style="width: 90%;">
    <input name="save" value="Save" type="submit"/>
    <a href="{{baseUrl name}}">cancel</a> |
    <a href="http://www.kreatives-chaos.com/markdown_help.html">markdown help</a>

    <p> Revision history:
      <ul>
    {{#changes}}
        <li> <a href="?version={{version}}" rel="nofollow">{{created}}</a> </li>
    {{/changes}}
      </ul>
    </p>
</div>

</form>
{{/page}}
