{% extends "base.html" %}

{% block head %}
    <title>{{page.name}} - Wiki edit</title>
{% endblock %}

{% block content %}

<form method="POST" action="{{baseUrl}}{{page.slug}}/edit">

<input class="title" name="name" value="{{page.name}}" />

<textarea id="body" name="body" rows="30" >{{page.body}}</textarea>

<div class="humanCheck">Are you human? (yes/no) <input id="hm" name="hm" size="4" value="" required></div>

<div style="width: 90%;">
    <input name="save" value="Save" type="submit"/>
    <a href="{{baseUrl}}{{page.slug}}">cancel</a> |
    <a href="http://www.kreatives-chaos.com/markdown_help.html">markdown help</a>

    {% if page.revisions.length %}
        <p> Revision history:
          <ul>
        {% for revision in page.revisions.all %}
            <li> <a href="?version={{forloop.counter0}}" rel="nofollow">{{revision.created|date:"dd.mm.yyyy HH:mm"}}</a> </li>
        {% endfor %}
          </ul>
        </p>
    {% endif %}
</div>

</form>
{% endblock %}