{% extends "base.html" %}

{% block content %}
<h1>{{page.name|capfirst}}</h1>

<div class="pageText">
    {{page.htmlbody}}
</div>

<p>
    <a href="{{baseUrl}}{{page.slug}}/edit" rel="nofollow">edit this page</a> |
    <a href="{{baseUrl}}list">list all pages</a> |
    {% if page.slug == "home" %}
      <a href="{{baseUrl}}recent">recent changes</a>
    {% else %}
      <a href="{{baseUrl}}">go home</a>
    {% endif %}
</p>
{% endblock %}


{% block navigation %}
   {{navigationPage.htmlbody}}
{% endblock %}