{% extends "base.html" %}

 {% block head %}
     <title>Recent Changes - Wiki</title>
 {% endblock %}

{% block content %}

<h1>Recent Changes</h1>

   <ol class="recent">
   <!-- ifchanged block produces broken html (closes </li></ol> before opening)
             but I'm lazy and it works -->

   {% for revision in revisions %}

      {% ifchanged revision.created|date:"dd.MM.yyyy" %}
      </li>
         </ol>
      <li class="day"><h2>{{revision.created|date:"dd.MM.yyyy"}}</h2>
          <ol class="recent">
      {% endifchanged %}
         <li class="revision">
           <span class="time">{{revision.created|date:"HH:mm"}}</span>
           <a href="{{baseUrl}}{{revision.page.slug}}?version={{revision.version}}"><span class="name">{{revision.name}}</span></a>
         </li>
   {% endfor %}

   </ol>

   <p><a href="{{baseUrl}}">go home</a> | <a href="{{baseUrl}}recent/rss">RSS</a></p>

{% endblock %}